In [57]:
import pandas as pd
import numpy as np

In [58]:
df = pd.read_csv("dada.csv")
df = df.drop_duplicates()
df

,id,step,name,first,last,premium,summa,email
0,1027716903,7,LaKristens,Kristi,Lyapistova,NaN,10,mail@lyapistova.ru
1,169827185,0,Kate_Ogareva,Катя,Огарёва,True,0,NaN
2,159395277,0,tanya_markevich,Tanya,Markevich,True,0,NaN
4,528329423,0,sofymelll,Софья,Мельникова,NaN,0,NaN
5,867648475,7,vaponomareva,Victoria,Ponomareva,NaN,15,Vponomareva@yandex.ru
...,...,...,...,...,...,...,...,...
72,1383380519,0,NaN,Ekaterina,Orlova,NaN,0,NaN
73,197857867,7,Artyurin,Artem,Tyurin,True,12,mail@tyurins.ru
74,5020124161,0,NaN,Натали,NaN,NaN,0,NaN
75,5180094476,0,NaN,Ирина,Лог,NaN,0,NaN
76,5632949013,0,NaN,Михаил,NaN,NaN,0,NaN

In [59]:
df[df.id == 5250367490]

            id  step name first last premium  summa email
11  5250367490     0  NaN   Аня  NaN     NaN      0   NaN

In [60]:
df.loc[df[df.id == 5250367490].index[0], "email"] = "anya-che@bk.ru"
df.loc[df[df.id == 5250367490].index[0], "summa"] = 14

df.loc[df[df.id == 1128519001].index[0], "email"] = "regina_ukr@inbox.ru"
df.loc[df[df.id == 1128519001].index[0], "summa"] = 13

df.loc[df[df.id == 457399166].index[0], "email"] = "oksajanan@gmail.com"
df.loc[df[df.id == 457399166].index[0], "summa"] = 11

df.loc[df[df.id == 1073387850].index[0], "email"] = "Victoria_Cislari@gmx.de"
df.loc[df[df.id == 1073387850].index[0], "summa"] = 11

df.loc[df[df.id == 1389734738].index[0], "email"] = "Svetlana.ahmadullina.1980@mail.ru"
df.loc[df[df.id == 1389734738].index[0], "summa"] = 9

df.loc[df[df.id == 5569865861].index[0], "email"] = "ilsiya.nugmanova@mail.ru"
df.loc[df[df.id == 5569865861].index[0], "summa"] = 15

df.loc[df[df.id == 478857228].index[0], "email"] = "Spandik83@yandex.ru"
df.loc[df[df.id == 478857228].index[0], "summa"] = 8

df.loc[df[df.id == 478857228].index[0], "email"] = "Spandik83@yandex.ru"
df.loc[df[df.id == 478857228].index[0], "summa"] = 8

df.loc[df[df.id == 1383380519].index[0], "email"] = "aregata2003@mail.ru"
df.loc[df[df.id == 1383380519].index[0], "summa"] = 14

len(df)

73

In [63]:
from collections import Counter
c = Counter(df.id)
c

Counter({468477793: 2,
         5198278700: 2,
         1027716903: 1,
         169827185: 1,
         159395277: 1,
         528329423: 1,
         867648475: 1,
         1678065836: 1,
         841909876: 1,
         2048527409: 1,
         1270678967: 1,
         622731740: 1,
         5250367490: 1,
         1358263294: 1,
         733669386: 1,
         5121871062: 1,
         5437545111: 1,
         6280511951: 1,
         6250890798: 1,
         5183646608: 1,
         5020224377: 1,
         1128519001: 1,
         615845814: 1,
         457399166: 1,
         726580711: 1,
         311328289: 1,
         504759758: 1,
         5227717633: 1,
         1073387850: 1,
         5111481145: 1,
         1811906365: 1,
         1190172314: 1,
         5229437818: 1,
         1141014083: 1,
         534411659: 1,
         1526767424: 1,
         1389734738: 1,
         5049638082: 1,
         5488613142: 1,
         840530605: 1,
         5671423733: 1,
         321311120: 1,
         397449774: 1,
         570857688: 1,
         447475498: 1,
         1761290510: 1,
         5133308675: 1,
         1046082846: 1,
         1283658837: 1,
         5569865861: 1,
         506007224: 1,
         1444268710: 1,
         324314526: 1,
         5554674750: 1,
         5940718217: 1,
         1304289661: 1,
         1675081331: 1,
         1059417263: 1,
         5705590255: 1,
         5006144247: 1,
         478857228: 1,
         166851772: 1,
         163148521: 1,
         805032351: 1,
         432924253: 1,
         5409252066: 1,
         1383380519: 1,
         197857867: 1,
         5020124161: 1,
         5180094476: 1,
         5632949013: 1})

In [62]:
df.to_csv("data.csv", index=False)

In [66]:
df = pd.read_csv("data.csv")
print(len(set(df.id)))

71